<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <Business.Properties.Settings>
      <!-- URL S29 -->
      <setting name="Business_wsS29_uciMethods" serializeAs="String">
        <value>http://192.168.29.57/wsFitSwitch/uciMethods.asmx</value>
      </setting>
      <!-- URL INVESTOR -->
      <setting name="Business_wsInvestor_WSEstructuras" serializeAs="String">
        <value>http://132.147.10.11/TesoreriaWS29/WSEstructuras.asmx</value>
      </setting>
    </Business.Properties.Settings>
  </applicationSettings>

  <system.web>
    <compilation targetFramework="4.5" debug="false" />
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" executionTimeout="1200" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>

  <appSettings>
    
	<!-- BDD -->
    <add key="bddTimeout" value="900" />
    <add key="bddProcesos" value="30" />
	
	<!-- Esquema Canal29 -->
    <add key="OraHost" value="192.168.29.67" />
    <add key="OraPort" value="1521" />
    <add key="OraSid" value="fitbank" />
    <add key="OraUser" value="CANAL29" />
    <add key="OraPass" value="D3D66B07C89D09A7" />
    <add key="OraTime" value="120" />
	
	<!---Esquema Fitbank-->
    <add key="FitbankHost" value="192.168.29.67" />
    <add key="FitbankPort" value="1521" />
    <add key="FitbankSid" value="fitbank" />
    <add key="FitbankUser" value="FITBANK" />
    <add key="FitbankPass" value="72B23AA1A6D6A18D9A855578A8F0F40E" />
    <add key="FitbankTime" value="90" />
	
	<!-- Rutas Archivos -->
    <add key="pathTmp" value="..\\tmp\\"/>
	<add key="pathArchivos" value="B:\App29\archivos\canal\" />
    <add key="pathArchivosEstructuras" value="estructuras\{0}\{1}\" />
    <add key="pathArchivosFacturacion" value="B:\App29\archivos\facturacion\{0}\{1}\{2}\" />
	<add key="pathArchivosBatch" value="batch\" />
	<add key="pathArchivosProcesos" value="procesos\{0}\" />
	<add key="pathArchivosCosede" value="cosede\" />
	<add key="pathArchivosPos" value="B:\App29\archivos\pos\cargados\{0}\" />
    <add key="pathArchivosMailingListas" value="B:\App29\archivos\mailing\listas\" />
	<add key="pathArchivosSpi" value="B:\App29\Archivos\canal\spi\" />
	<add key="pathLogosCosede" value="B:\App29\release\WebCanalElectronico\img\logosCosede.png" />
	
	<!--Facuracion Electronica-->
    <add key="ftpParametros" value="192.168.29.56;22;root;Passw0rdfe2014" />
    <add key="ftpPathPdf" value="/home/fitbank/BUZZSRI/29octubre/generados/" />
    <add key="ftpPathXml" value="/home/fitbank/BUZZSRI/29octubre/XMLgenerados/" />
    <add key="ftpPathProcom" value="/home/fitbank/BUZZSRI/29octubre/generados/" />
    <add key="ftpLocal" value="C:\App29\Facturacion\" />
	
	<!-- UAF -->
    <add key="uafCodigoInstitucion" value="1122"/>
    <add key="uafUsuarioOficial" value="MIAR4653"/>

    <!-- COAC -->
	<add key="coop29Ruc" value="1790567699001" />

    <!-- Default -->
	<add key="defaulClave" value="ABAD2771878497543F87328C10E399EC" />
    <add key="defaulIp" value="127.0.0.1" />
  </appSettings>

  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST={0})(PORT={1})))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME={2})));User Id={3};Password={4}" providerName="System.Data.SqlClient"/>
    <add name="Sql" connectionString="Data Source={0};User ID={1};Password={2};" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="General"/>
    </root>
    <logger name="Error">
      <level value="ALL"/>
      <appender-ref ref="Errors"/>
    </logger>
    <appender name="StandardAppender" type="TSUIC.Logging.AsyncLogFileAppender">
      <appender-ref ref="StandardAppenderSync" />
    </appender>
    <appender name="General" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="B:\App29\Logs\webCanalElectronico\General_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="Errors" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="B:\App29\Logs\webCanalElectronico\Exceptions_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.log'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>

</configuration>
